:root {
    --primary-title-color: #2E2F42;
    --primary-text-color: #434455;
    --accent-color: #4D5AE5;
    --accent-focus-color:#404BBF;
    --section-bckg-color: #F4F4FD;
    --filter-bckg-color: #E7E9FC;
    --primary-bckg-white-color: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    background-color: var(--primary-bckg-white-color);
    color: var(--primary-title-color);
}
h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.container { 
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}

/* header */
.header.container {
    display: flex;
    border-bottom: 1px solid #E7E9FC;
}

.logo {
    display: inline-block;

    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--primary-title-color);
    cursor: pointer;
}
.logo-header {
    padding-top: 24px;
    padding-bottom: 24px;
}

/* navigation */

.site-nav .logo {
    margin-right: 76px;
}

.site-nav{
    display: flex;
    align-items: center;
}

.site-nav .item:not(:last-child),
.address .link:not(:last-child) {
    margin-right: 40px;
}

.site-nav .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: inherit;
}
.site-nav .link.current {
    color: var(--accent-focus-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
    color: var(--accent-focus-color);
}

/* adress */

.address {
    display: flex;
    margin-left: auto;
}

.address .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.address .link:hover,
.address .link:focus,
.address .link:active {
    color: var(--accent-focus-color);
}

/* hero */

.hero {
    background-color: var(--primary-title-color);
    text-align: center;
    padding: 188px 0;
    margin-bottom: 120px;

}
.hero-title {
    margin-bottom: 48px;

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-bckg-white-color);
}
.hero-button {
    padding: 16px 32px;


    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-transform: capitalize;
    letter-spacing: 0.04em;
    color: var(--primary-bckg-white-color);
    background-color: var(--accent-color);
    border-color: transparent;
    cursor: pointer;
    border-radius: 4px;
}
.hero-button:hover,
.hero-button:focus {
    background-color: var(--accent-focus-color);
}


/* sections */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--primary-title-color);
}

.advantage-list .item:not(:last-child),
.services-list .item:not(:last-child),
.team-list .item:not(:last-child) {
    margin-right: 24px;
}

/* section advantages */

.section.advantages {
    margin-bottom: 120px;
}
.advantage-list {
    display: flex;
    text-align: left;
}

.advantage-list .item {
    width: 264px;
}

.advantage-title,
.team-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
}
.advantage-descr,
.team-descr {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

/* section what are we doing */

.section.services {
    margin-bottom: 120px;
}

.services-list {
    display: flex;
    margin-top: 72px;
}

/* sectionour team */

.section.our-team {
    background-color: var(--section-bckg-color);
}

.team {
    padding-top: 120px;
    padding-bottom: 120px;
}

.team .section-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    text-align: center;
}

.team-list .item {
    padding-bottom: 32px;
    background-color: var(--primary-bckg-white-color);
    border-radius: 0px 0px 4px 4px;
}
.team-img {
    margin-bottom: 32px;
}

/* footer */
.footer{
    background-color: var(--primary-title-color);
}

.logo-footer {
    color: var(--section-bckg-color);
    margin-bottom: 16px;
}

.logo-accent {
    color: var(--accent-color);
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-descr {
    width: 264px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--filter-bckg-color);
}


/* portfolio page */
.section.filter {
   padding-bottom: 120px;
   margin-top: 96px;
}
.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.filter-list .item:not(:last-child){
    margin-right: 24px;
}

.filter-btn {
    padding: 12px 24px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--accent-color);
    background-color: var(--section-bckg-color);
    cursor: pointer;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}
.filter-btn:hover,
.filter-btn:focus,
.filter-btn:active {
    color: var(--primary-bckg-white-color);
    background-color: var(--accent-focus-color);
    border-color: transparent;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list .item {
    background-color: var(--primary-bckg-white-color);
    border: 1px solid #E7E9FC;
}

.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
}
.card-descr {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}